[submodule "JavaScript-Plugin-Architecture"]
	path = JavaScript-Plugin-Architecture
	url = https://github.com/azu/JavaScript-Plugin-Architecture
[submodule "gitbook-starter-kit"]
	path = gitbook-starter-kit
	url = https://github.com/azu/gitbook-starter-kit.git
[submodule "scala_text"]
	path = scala_text
	url = https://github.com/dwango/scala_text.git
[submodule "magi-hacker"]
	path = magi-hacker
	url = https://github.com/io-monad/magi-hacker.git
[submodule "docs.userdive.com"]
	path = docs.userdive.com
	url = https://github.com/uncovertruth/docs.userdive.com.git
[submodule "rails-training"]
	path = rails-training
	url = https://github.com/sadah/rails-training.git
